log/
logs/
*.log
tmp/
*.tmp
*.bak
tmp

target/

*.class

.mvn/
mvnw
mvnw.cmd

.idea/
out/
*.iws
*.iml
*.ipr

.vertx

.settings/
.classpath
.project
.apt_generated
.factorypath
.springBeans
.DS_Store

node_modules

!/build.iml
